largefiles/euclid3-1.3.tar
largefiles/proj-4.8.0.tar
largefiles/cvms4.tar.gz
largefiles/fftw-3.3.3.tar
largefiles/cvmh-15.1.0.tar.gz
largefiles/cvms5.tar.gz
largefiles/cvms426.tar.gz
largefiles/cencal080.tar.gz
*ucvm.e
*ucvm_yong_wald.e
*ucvm_utah/ucvm.e
*test-grid-lib-1d.ref
*test-grid-ucvm_query-1d.ref
*.pyc
*.o
Makefile
Makefile.in
autom4te.cache/
aux-config/Makefile
aux-config/Makefile.in
aux-config/config.guess
aux-config/config.sub
aux-config/depcomp
aux-config/install-sh
aux-config/missing
conf/Makefile
conf/Makefile.in
conf/example/Makefile
conf/example/Makefile.in
conf/test/Makefile
conf/test/Makefile.in
conf/test/ucvm.conf
conf/ucvm.conf
config.log
config.status
configure
examples/.deps/
examples/Makefile
examples/Makefile.in
examples/query_1d_gtl
man/Makefile
man/Makefile.in
model/1d/Makefile
model/1d/Makefile.in
model/ucvm/Makefile
model/ucvm/Makefile.in
setup_log.sh
src/basin/.deps/
src/basin/Makefile
src/basin/Makefile.in
src/basin/basin_query
src/ecoalesce/.deps/
src/ecoalesce/Makefile
src/ecoalesce/Makefile.in
src/ecoalesce/ecoalesce
src/ecompact/.deps/
src/ecompact/Makefile
src/ecompact/Makefile.in
src/ecompact/ecompact
src/grd/.deps/
src/grd/Makefile
src/grd/Makefile.in
src/grd/grd_query
src/grd/libgrd.a
src/grd2etree/.deps/
src/grd2etree/Makefile
src/grd2etree/Makefile.in
src/grd2etree/grd2etree
src/patch/.deps/
src/patch/Makefile
src/patch/Makefile.in
src/patch/patchmodel
src/ssh/.deps/
src/ssh/Makefile
src/ssh/Makefile.in
src/ssh/ssh_generate
src/ssh/ssh_merge
src/ucvm/.deps/
src/ucvm/Makefile
src/ucvm/Makefile.in
src/ucvm/libucvm.a
src/ucvm/ucvm_query
src/ucvm2etree/.deps/
src/ucvm2etree/Makefile
src/ucvm2etree/Makefile.in
src/ucvm2etree/ucvm2etree
src/ucvm2mesh/.deps/
src/ucvm2mesh/Makefile
src/ucvm2mesh/Makefile.in
src/ucvm2mesh/mesh-check
src/ucvm2mesh/mesh-op
src/ucvm2mesh/mesh-strip-ijk
src/ucvm2mesh/ucvm2mesh
src/vs30/.deps/
src/vs30/Makefile
src/vs30/Makefile.in
src/vs30/vs30_query
test/.deps/
test/Makefile
test/Makefile.in
test/accepttest
test/inputs/Makefile
test/inputs/Makefile.in
test/logs/Makefile
test/logs/Makefile.in
test/ref/Makefile
test/ref/Makefile.in
test/unittest
utilities/Makefile
utilities/Makefile.in
work/
